# See https://atom.io/docs/latest/creating-a-package#menus for more details

'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle customscriptbuilds'
      'command': 'customscriptbuilds:toggle'
    }
  ]
'menu': [
  {
      'label': 'Custom Script Builds'
      'submenu': [
        {'label': 'Toggle', 'command': 'customscriptbuilds:toggle'},
        {'label': 'Add Message', 'command': 'customscriptbuilds:addmessage'},
        {'label': 'build', 'command': 'customscriptbuilds:build'},
        {'label': 'rebuild', 'command': 'customscriptbuilds:rebuild'},
        {'label': 'compile', 'command': 'customscriptbuilds:compile'},
        {'label': 'debug', 'command': 'customscriptbuilds:debug'},
        {'label': 'run', 'command': 'customscriptbuilds:run'},
        {'label': 'stop', 'command': 'customscriptbuilds:stop'},
        {'label': 'config', 'command': 'customscriptbuilds:run-configs'},
        {'label': 'export', 'command': 'customscriptbuilds:export'},
        {'label': 'newtab', 'command': 'customscriptbuilds:newtab'},
        {'label': 'newwindow', 'command': 'customscriptbuilds:newwindow'},
        {'label': 'about', 'command': 'customscriptbuilds:about'},

        {'label': 'set0', 'command': 'customscriptbuilds:set0'},
        {'label': 'set1', 'command': 'customscriptbuilds:set1'},
        {'label': 'log', 'command': 'customscriptbuilds:log'},
        {'label': 'dialog', 'command': 'customscriptbuilds:dialog'},
        {'label': 'Currentview', 'command': 'customscriptbuilds:currentview'},
        {'label': 'Console', 'command': 'customscriptbuilds:run-console'}

      ]
  }
]

###
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle customscriptbuilds'
      'command': 'customscriptbuilds:toggle'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Custom Script Builds'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'customscriptbuilds:toggle'
        }
      ]
    ]
  }
]
###
